body{
    margin: 0;
}
#header{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #b1322d;
}
#logo_text{
    position: absolute;
    margin: 0;
    top: 11px;
    color:#ffffff;
    padding-left: 25px;
    font-size: 24px;
}

#footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    /*background-color: #D1D3D6;*/
    height: 7%;
    width: 100%;
}

#footer .copyright{
    font-size: 10px;
    padding-top: 40px;
}

#main{
    position: fixed;
    height: 80%;
    width: 90%;
    margin-left: 100px;
    margin-top: 50px;
    background-color: #fcf8e3;
}

#header_image{
    height: 60px;
    width: 60px;
    padding-top: 30px;
    padding-left: calc(50% - (30px));
}

#header_image img{
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

#username{
    text-align: center;
}

#welcome {
    float: right;
    padding-right: 15px;
}

#info {
    float: right;
    padding-right: 15px;
}

#nologin {

}

#welcome p{
    text-align: center;
}

#start{
    position: absolute;
    width: 85.414%;
    height: 30%;
    background-color: #bebfcb;
    left: 14.586%;
    top: 50px;
}
